### for_list_format

In [6]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [7]:
type(num)

list

In [10]:
for i in num:
    print(i, '번',end ='/')

1 번/2 번/3 번/4 번/5 번/

In [14]:
for i in num:
    print('%d번'%i,   end =' ')

1번 2번 3번 4번 5번

In [18]:
i=1
if i==0 :
    print('i는 0이다 ')
else:    
    print('i는 0이 아니다 ')

i는 0이 아니다

In [20]:
i=10
if i%2==0 :
    print(i,'는 짝수이다 ')
else:    
    print(i,'i는 홀수이다 ')

10 는 짝수이다

In [23]:
i = int(input('숫자입력>>> '))
if i%2==0 :
    print(i,'는 짝수이다 ')
else:    
    print(i,'는 홀수이다 ')

숫자입력>>> 4
4 는 짝수이다

In [26]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
    print(sub[i], end=' ')

국 영 수 정보

In [27]:
sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub):
    print(sub[i], end=' ')

국 영 수 정보

In [32]:
sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub):
    if sub[i] == '정보' :
        print(i+1,'교시', sub[i],'합격')
    else :
        print(i+1,'교시', sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

### List

In [42]:
juso ='    인천광역시 중구 참외전로 116 창의관   '

In [36]:
juso

'    인천광역시 중구 참외전로 116 창의관'

In [38]:
type(juso)

str

In [43]:
len(juso)

28

In [47]:
add=juso.strip()

In [48]:
juso

'    인천광역시 중구 참외전로 116 창의관   '

In [50]:
add

'인천광역시 중구 참외전로 116 창의관'

In [52]:
len(add)

21

In [56]:
ad = add.split()

In [57]:
add

'인천광역시 중구 참외전로 116 창의관'

In [59]:
ad

['인천광역시', '중구', '참외전로', '116', '창의관']

In [64]:
add.startswith('서울')

False

In [67]:
add.endswith('관')

True

### format

In [69]:
s = 'A is {}, {}'
pr = s.format('사과', '배')
print(pr)

A is 사과, 배

In [71]:
info_1 = '학교: {}, 학번:{}, 이름:{}'
pr = info_1.format('인천여상',30115, '최고은')
print(pr)

학교: 인천여상, 학번:30115, 이름:최고은

### [문제1] 30부터 50까지 중에서 홀수만 출력

### [문제2] 아이디(문자)를 입력받아 동일하면 
- 안녕하세요 회원님

- 아니면 회원가입하세요.

### [문제3] 입력예 ) 인천정보산업고/30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

### [문제4] 숫자데이터 5개를 입력받아 
- 합계
- 평균